$bgcolor: lightblue;
$slbbgcolor: #fff24020; 
$dsbgcolor: #00f60020;
$wpbgcolor: #aa542320;
$textcolor: darkblue;
$bdr: 2px solid blue;
$margin: 15px;
$padding: 10px;
$fsize: 20px;

#banner {
	padding-left: $padding; 
	padding-right: $padding;
	width: 100%;
}

.max {
	
	width:95%;
  	margin-left: 2.5%;
}

.index {
	margin: $margin;
	background-color: $bgcolor;

	@media (min-width: 700px) {
        h1::before {
            content: "Hello Everyone, my name is Vitaly and I like to travel!";
        }
    }

    @media (max-width: 699px) {
        h1::before {
            content: "Hello Everyone!";
        }
    }

	h1 {
		text-align: center;
		color: $textcolor;
		padding: $padding;
		
	}
	p {
		text-align: left;
		color: $textcolor;
		margin: $margin;
		font-size: $fsize;
	}
	
	li {
		font-size: $fsize;
	}
	
}

.table {
	padding: $padding;

	table{
		border: $bdr;
		border-collapse: collapse;
	}
	th {
		border: $bdr;
		color:$textcolor;
		text-align: center;
	}
	td {
		border: $bdr;
	}
	img {
		width: 100%;
	}
}

.slb {
	margin: $margin;
	background-color: $slbbgcolor;
	text-align: center;
	color: $textcolor;

	p {
		text-align: justify;
		color: $textcolor;
		margin: $margin;
		font-size: $fsize;
	}
	
	a {
		font-size: $fsize;
	}
	
}

#slbdescr {

	text-align: justify;
	margin: $margin;
	padding:$padding;
	font-size: $fsize;
	
	.row {
		margin-bottom: $margin;
	}

	img {
		width: 100%;
		margin-top: $margin;
	}
}

.ds {
	margin: $margin;
	background-color: $dsbgcolor;
	text-align: center;
	color: $textcolor;

	p {
		text-align: justify;
		color: $textcolor;
		margin: $margin;
		font-size: $fsize;
	}
	
	a {
		font-size: $fsize;
	}
	
}

#dsdescr {

	text-align: justify;
	margin: $margin;
	padding:$padding;
	font-size: $fsize;
	
	.row {
		margin-bottom: $margin;
	}

	img {
		width: 100%;
		margin-top: $margin;
		
	}
}
.wp {
	margin: $margin;
	background-color: $wpbgcolor;
	text-align: center;
	color: $textcolor;

	p {
		text-align: justify;
		color: $textcolor;
		margin: $margin;
		font-size: $fsize;
	}
	
	a {
		font-size: $fsize;
	}
	
}

#wpdescr {

	text-align: justify;
	margin: $margin;
	padding:$padding;
	font-size: $fsize;
	
	.row {
		margin-bottom: $margin;
	}

	img {
		width: 100%;
		margin-top: $margin;
		
	}
}